<form action="#" class="form-horizontal" method="post" accept-charset="utf-8">
<input type="hidden" name="csrf_test_name" value="8b3909d7d987f69f7cd0ccc630e4180d">
        <div class="form-group">
                <label for="p-in" class="col-md-4 label-heading">Select Team Member</label>
                <div class="col-md-8 ui-front">
                    <select class="form-control" name="userid">
                                        	<option value="11">ttum</option>
                                        </select>
                </div>
        </div>
      </form>
 </div>
<div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     <input type="submit" class="btn btn-primary" value="Add Task Member">
 </div>